apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n
generatorOptions:
  disableNameSuffixHash: true
resources:
  - namespace.yaml
  - resources/configmap__kube-root-ca.crt.yaml
  - resources/configmap__openshift-service-ca.crt.yaml
  - resources/deployment.apps__n8n.yaml
  - resources/persistentvolumeclaim__n8n-data.yaml
  - resources/rolebinding.rbac.authorization.k8s.io__admin.yaml
  - resources/rolebinding.rbac.authorization.k8s.io__system:deployers.yaml
  - resources/rolebinding.rbac.authorization.k8s.io__system:image-builders.yaml
  - resources/rolebinding.rbac.authorization.k8s.io__system:image-pullers.yaml
  - resources/rolebinding.rbac.authorization.k8s.io__system:openshift:scc:anyuid.yaml
  - resources/route.route.openshift.io__n8n.yaml
  - resources/service__n8n.yaml
  - resources/serviceaccount__builder.yaml
  - resources/serviceaccount__default.yaml
  - resources/serviceaccount__deployer.yaml
  - resources/serviceaccount__n8n-sa.yaml

secretGenerator:
- name: n8n-secrets
  type: Opaque
  files:
    - secrets/n8n-secrets/N8N_BASIC_AUTH_PASSWORD
    - secrets/n8n-secrets/N8N_BASIC_AUTH_USER
    - secrets/n8n-secrets/N8N_ENCRYPTION_KEY
